
// Colors
$greyDark: #333333;
$greyLight: #666666;
$brown: #6b5854;
$brownLight: #c1b1a3;
$brownLogo: #6a5853;

// Fonts
$mainFont: 'Montserrat', sans-serif;
$secondFont: 'Liana', sans-serif;

// Font sizes
$medium: 500;
$semiBold: 600;
$extraBold: 800;
