/*------------------------------------------*/
/*  #LOGO
/*------------------------------------------*/

.logo {
  position: relative;
  display: block;
  width: 5em; // 360px
  height: 1.444444em; // 104px
  line-height: 1;

  @media only screen and (min-device-width: 320px)
    and (max-device-width: 62em)
    and (-webkit-min-device-pixel-ratio: 2) {
    line-height: 0.85;
  }

  @media only screen and (min-device-width: 320px)
    and (max-device-width: 62em)
    and (-webkit-device-pixel-ratio: 3) {
    line-height: 0.85;
  }
}

.logo--header {
  margin-right: auto;
  font-size: calc(72px * 0.6);

  @media only screen and (min-width: 24em) {
    font-size: calc(72px * 0.7);
  }

  @media only screen and (min-width: 80em) {
    font-size: 72px;
  }
}

.logo--footer {
  margin: 0 auto 30px auto;
  font-size: calc(72px * 0.8);

  @media only screen and (min-width: 62em) {
    font-size: 72px;
    margin-bottom: 42px;
  }
}

.logo-name {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Liana', sans-serif;
  font-size: 1em;
  line-height: inherit;
  color: #333;
}

.logo-subname {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.4em 0.2em 0 0.4em;
  border-top: 1px solid #b7a09c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.34722222em;
  line-height: inherit;
  letter-spacing: 0.05em;
  color: #6a5853;
}
