/*------------------------------------------*/
/*  #MODAL
/*------------------------------------------*/

.appear {
  display: block !important;
  animation: appear 0.4s 0.4s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: relative;
  opacity: 0;
  z-index: 99999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.3);
  z-index: 999999;
}

.modal-scrollable {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 40px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 9999999;

  @media only screen and (min-width: 48em) {
    padding-top: 90px;
  }
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: 654px;
  min-height: 474px;
  padding: 20px;
  background-color: rgba(235, 232, 226, 0.9);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;

  @media only screen and (min-width: 48em) {
    padding: 30px;
  }
}

.modal-box--answer {
  justify-content: center;
  text-align: center;
  min-height: 300px;

  .modal-body {
    padding: 80px 20px;
  }
}

.modal-close {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 0;
  top: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: #c5a47e url(../img/icons/close.png) no-repeat center;
  background-size: 15px;
  outline: none;

  @media only screen and (min-width: 48em) {
    right: -22px;
    top: -19px;
    width: 52px;
    height: 52px;
    background-size: auto;
  }
}

.modal-body {
  width: 100%;
  flex: 1;
  padding: 25px 25px 40px 25px;
  border: 1px solid #c5a47e;
  background: #f3f0ea;

  @media only screen and (min-width: 48em) {
    padding: 28px 45px 40px 45px;

  }
}

.modal-title {
  font-family: $secondFont;
  font-size: rem(36);
  line-height: 1.3;
  text-align: center;
  margin-bottom: 20px;

  @media only screen and (min-width: 48em) {
    font-size: rem(48);
    margin-bottom: 45px;
  }
}

.modal-title--answer {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-text {
  font-size: 1rem;
}

/*------------------------------------------*/
/*  CONTACT FORM 7
/*------------------------------------------*/

.form-control__holder {
  margin-bottom: 22px;

  &--last {
    margin-top: 28px;
    margin-bottom: 0;

    @media only screen and (min-width: 48em) {
      margin-top: 40px;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 12px 10px;
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  color: inherit;
  outline: none;
  border: 0;
  border-bottom: 1px solid #959595;
  background: transparent;
  transition: border-color 0.3s ease-out;
}

.form-control:focus {
  border-color: rgba(#959595, 0.3);
}

.form-control::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #333;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.form-control::placeholder {
  color: #333;
  opacity: 1;
}

.form-label {
  font-size: rem(14);
  line-height: 1.3;
}

.form-checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 24px;
  margin-right: 10px;
  border: 1px solid #b7a09c;
  border-radius: 3px;
}

input[name='user-agree']:checked + .form-checkbox {
  background: #fff url(../img/icons/check.png) no-repeat center;
}

.button--form,
.wpcf7-submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 50px;

  @media only screen and (min-width: 48em) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.wpcf7-response-output {
  display: none !important;
}

span.wpcf7-not-valid-tip {
  font-size: 0.8em;
}

div.wpcf7 .ajax-loader {
  display: none;
}

.wpcf7 .button-primary {
  margin-top: 24px;
}
