/*------------------------------------------*/
/*  #CUSTOM SCROLLBAR
/*------------------------------------------*/

.simplebar-track {
  top: 60px !important;
  right: 15px;
  width: 1px;
  background-color:rgba(193, 177, 163, 0.5);
}

.simplebar-track.horizontal {
  display: none;
}

.simplebar-scrollbar {
  right: 0;
  transform: translateX(50%);
  width: 10px;
  height: 50px !important;

  &:before {
    background-color: #b7a09c;
    border-radius: 0;
  }
}

.simplebar-track .simplebar-scrollbar.visible:before {
  opacity: 1;
}

.simplebar-content {
  overflow-x: hidden;
}
