/*------------------------------------------*/
/*  #SOCIAL
/*------------------------------------------*/

.social {
  position: relative;
  align-items: center;
  padding-left: 42px;
  color: $brown;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url(../img/icons/sprite@2x.png);
    background-repeat: no-repeat;
    background-size: 310px 281px;
    background-position: -287px -5px;
  }
}

.social--banner {
  display: inline-flex;

  &:before {
    content: '';
    margin-right: 20px;
    width: 158px;
    height: 1px;
    background-color: rgba(183, 160, 156, 0.5);
    display: none;

    @media only screen and (min-width: 36em) {
      display: block;
    }
  }
}

.social--footer {
  display: inline-flex;
}

.social-text {
  margin-right: 8px;
}

.social-link {
  font-weight: $semiBold;
  letter-spacing: 0.1em;
}
